<ion-header>
  <ion-navbar>
    <ion-title>
      Pontos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="handForm" *ngIf="game.playersAtGame">
    <div formArrayName="handForm">
      <div>{{mensagem}}</div>
      <span *ngIf="winner">
        <div>Jogador <b>{{winner.name}}</b> venceu!<br/></div>
         <div *ngFor="let player of game.playersAtGame; let i=index" class="panel panel-default">
           <div *ngIf="player.id != winner.id && player.getDueValue() != 0">
             <b>{{player.name}}</b> tem que <b>{{player.getDueValue() > 0 ? ' pagar ' : ' receber '}}</b> R$ <b>{{player.getDueValue()}}</b>
           </div>
         </div>
      </span>
      <ion-grid>
        <ion-row>
          <ion-col style="size: 25%">
            <ion-label>Jogador</ion-label>
          </ion-col>
          <ion-col style="size: 10%">
            <ion-label>Pontos</ion-label>
          </ion-col>
          <ion-col style="size: 30%">
            <ion-label>Estourou</ion-label>
          </ion-col>
          <ion-col style="size: 30%">
            <ion-label>Entrou</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngFor="let player of game.playersAtGame; let i=index" class="panel panel-default">
        <div class="panel-heading">
          <div [formGroup]="handForm" *ngIf="player">
            <ion-grid>
              <ion-row>
                <ion-col style="size: 25%">
                  <ion-label>{{player.name}}</ion-label>
                </ion-col>
                <ion-col style="size: 10%">
                  <ion-input type="number" class="form-control" placeholder="Pontos"
                             (ionChange)="setPontos(player, i, $event.value)"
                             id="pontos_{{i}}"></ion-input>
                </ion-col>
                <ion-col style="size: 30%">
                  <ion-toggle [formGroup]="handForm" id="estourou_{{i}}" (ionChange)="estourou(player, i, $event.value)"></ion-toggle>
                </ion-col>
                <ion-col style="size: 30%">
                  <ion-toggle disabled="{{!player.getEstourado()}}" [formGroup]="handForm" id="entrou_{{i}}"
                              (ionChange)="entrou(player, i, $event.value)"></ion-toggle>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="margin-20">
    <button ion-button (click)="finishScoreCad()">Finish</button>
  </div>

</ion-content>
