<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Resumo até aqui
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="container">
    <ion-grid>
      <ion-row class="linha gridHeader">
        <ion-col style="size: 25%">
          <ion-label class="negrito">Jogador</ion-label>
        </ion-col>
        <ion-col style="size: 10%">
          <ion-label class="negrito">Pontos</ion-label>
        </ion-col>
        <ion-col style="size: 30%">
          <ion-label class="negrito">Sai com</ion-label>
        </ion-col>
        <ion-col style="size: 30%">
          <ion-label class="negrito">Entradas</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngFor="let player of game.playersAtGame;" class="panel panel-default">
      <div class="panel-heading" *ngIf="player">
        <ion-grid>
          <ion-row class="linha">
            <ion-col style="size: 25%">
              <ion-label class="negrito">{{player.name}}</ion-label>
            </ion-col>
            <ion-col style="size: 10%">
              <ion-label>{{player.currentScore}}</ion-label>
            </ion-col>
            <ion-col style="size: 30%">
              <ion-label>{{player.getPointsToEscape()}}</ion-label>
            </ion-col>
            <ion-col style="size: 30%">
              <ion-label>{{player.reentries}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="margin-20">
      <button ion-button (click)="goToCadHand()">Próxima</button>
      <button ion-button (click)="viewHandHistory()">Histórico de mãos</button>
    </div>
  </div>
</ion-content>
