<ion-header>
  <ion-navbar>
    <ion-title>Pontinho dos pituchas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <form [formGroup]="formPlayers">
      <div formArrayName="formPlayers">
        <ion-grid>
          <ion-row>
            <ion-col style="size: 50%">
              Nome
            </ion-col>
            <ion-col  style="size: 50%">
              Valor pago
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngFor="let player of formPlayers.controls.formPlayers.controls; let i=index" class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="formPlayers.controls.formPlayers.controls.length > 1" (click)="removePlayer(i)"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <player [group]="formPlayers.controls.formPlayers.controls[i]"></player>
          </div>
        </div>

      </div>
    </form>
  </div>


  <div class="margin-20">
    <button ion-button (click)="newPlayer()">Add player</button>
    <button ion-button (click)="finishCadPlayers()">Finish</button>
  </div>


</ion-content>
