<ion-header>
  <ion-navbar>
    <ion-title>
      Histórico de mãos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="game.matches">
    <ion-grid>
      <ion-row style="border-left: solid; border-bottom: solid; border-top: solid; border-right: solid; border-color: #488aff">
        <ion-col *ngFor="let player of game.allPlayers; let i=index"> {{player.name}}</ion-col>
      </ion-row>
      <ion-row style="border-left: solid; border-bottom: solid; border-right: solid; border-color: #488aff" *ngFor="let rodada of game.matches; let idxRodada=index">
        <span *ngFor="let player of game.allPlayers; let idxPlayer=index">
          <span *ngFor="let hand of rodada.handsOfMatch; let idxHand=index">
            <ion-col *ngIf="hand.player.id == player.id"> {{hand.score}}</ion-col>
          </span>
        </span>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
