<ion-header>
  <ion-navbar>
    <ion-title>
      Histórico de mãos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="game.matches">
    <ion-grid>
      <ion-row style="border-left: solid; border-bottom: solid; border-top: solid; border-right: solid; border-color: #488aff">
        <ion-col *ngFor="let player of game.allPlayers; let i=index"> {{player.name}}</ion-col>
      </ion-row>
      <ion-row style="border-left: solid; border-bottom: solid; border-right: solid; border-color: #488aff" *ngFor="let rodada of game.matches; let idxRodada=index">
        <ion-col *ngFor="let player of game.allPlayers; let idxPlayer=index">
          {{rodada.getScoreOfPlayer(player)}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
