<ion-header>
  <ion-navbar>
    <ion-title>
      Lance as entradas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="game.matches">
    <div formArrayName="reentriesForm">
      <ion-grid>
        <ion-row>
          <div *ngFor="let player of game.allPlayers; let i=index" class="panel panel-default">
            <ion-col>
              <ion-label>{{player.name}}</ion-label>
            </ion-col>
          </div>
        </ion-row>
      </ion-grid>
      <div *ngFor="let rodada of game.matches; let i=index" class="panel panel-default">
        <div class="panel-heading">
          <div *ngIf="rodada">
            <ion-grid>
              <div>
                <ion-row>
                  <ion-col>
                    <ion-label>{{i+1}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label>{{rodada.handsOfMatch}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label>{{rodada.handsOfMatch}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-toggle id="entrou_{{i}}" checked="{{ player.currentHand?.enter == true}}"
                                (ionChange)="entrou(player, i, $event.value)"></ion-toggle>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </form>
</ion-content>
