// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.linha {
	-webkit-box-shadow: 0px 1px 1px #efefef;
	-moz-box-shadow: 0px 1px 1px #efefef;
	box-shadow: 0px 1px 1px #efefef;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}

.linha-botoes {
	padding: 10px;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}

.justify-space-around {
	justify-content: space-around;
}

.name-colum {
	padding: 10px 0 0 10px;
}

.config-label {
	padding: 8px;
	font-weight: bold;
}

.title {
	padding: 10px;
}

.flex-grow-1 {
	flex-grow: 1;
	flex-basis: 30%;
}

.gridHeader {
	background-color: #66aeff;
	box-shadow: 0px 1px 1px #888888;
	color: #FFFFFF;
}

.negrito {
	font-weight: bold;
}

.center {
	align-items: center;
}

.button-blue {
	padding: 10px;
	background-color: #66aeff;
	color: #FFFFFF;
	font-weight: bold;
}

.button-dark {
	padding: 10px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
}

.button-red {
	padding: 10px;
	background-color: #ef3400;
	color: #FFFFFF;
	font-weight: bold;
}

.splash {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ff7400;
}

.spinner {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
}

.cube1, .cube2 {
	background-color: #333;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
		  transform: translateX(42px) translateY(42px) rotate(-179deg);
		  -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	  } 50.1% {
			transform: translateX(42px) translateY(42px) rotate(-180deg);
			-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
		} 75% {
			  transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
			  -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		  } 100% {
				transform: rotate(-360deg);
				-webkit-transform: rotate(-360deg);
			}
}