.playerBoomAndEnter {
	background-color: #0acc00;
	opacity: .5%;
}

.playerBoomAndOut {
	background-color: #ef3400;
	opacity: .5%;
}

.padding-10 {
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}

.flex-basis-5 {
	flex-basis: 5%;
}